on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_call: {}

name: Check

jobs:
  sanity-check:
    name: Sanity check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true
      - name: Install slimfat
        run: pip --no-cache-dir install --user slimfat
      - name: Load slimfat
        run: python3 -m slimfat test || python -m slimfat test

  imports:
    name: Imports
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: check
      uses: jo-fr/golang-github-actions@master
      with:
        run: imports
        token: ${{ secrets.GITHUB_TOKEN }}

  errcheck:
    name: Errcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: check
      uses: jo-fr/golang-github-actions@master
      with:
        run: errcheck
        token: ${{ secrets.GITHUB_TOKEN }}
        flags: --exclude errcheck-exclude.txt

  shadow:
    name: Shadow
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: check
      uses: jo-fr/golang-github-actions@master
      with:
        run: shadow
        token: ${{ secrets.GITHUB_TOKEN }}

  staticcheck:
    name: StaticCheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: check
      uses: jo-fr/golang-github-actions@master
      with:
        run: staticcheck
        token: ${{ secrets.GITHUB_TOKEN }}
        flags: --checks all,-ST1000

  sec:
    name: Sec
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: check
      uses: jo-fr/golang-github-actions@master
      with:
        run: sec
        token: ${{ secrets.GITHUB_TOKEN }}
        flags: --exclude=G402
