on:
  push:
    branches: main
  pull_request:
    types: [opened, reopened, synchronize]

name: Test

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true
      - name: Build all platforms, but only single architecture
        run: ./build.py --architecture local
      - uses: docker://Dockerfile.test
        env:
          GITHUB_ACTIONS: true
